{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}ログイン{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
    <link href="/assets/css/auth.css" rel="stylesheet">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="Login">
        <div class="Login__Container">
        <h1 class="Login__Title">
            ログイン
        </h1>
        <form class="LoginForm" method="POST" action="/login/">
            <div class="form-group LoginForm__Item">
            <input type="email" class="LoginForm__Input form-control" placeholder="メールアドレス" name="email" value={{ email }}>
            </div>
            <div class="form-group LoginForm__Item">
            <input type="password" class="LoginForm__Input form-control" placeholder="パスワード" name="password" value="" required>
            </div>
            <input type="submit" value="ログイン" class="btn btn--blue" />
        </form>
        <div>
            <a href="/login/">新規登録はこちら</a>
        </div>
        </div>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
