{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}マイページ{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" href="/assets/css/mypage.css">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>マイページ</h1>
    </div>

    <div class="profile">
      <div class="myname">
        <span><img src="/assets/images/sample.png" alt=""></span>
        <p>
          タカ
        </p>
      </div>
      <div class="supported">
        <span><img src="/assets/images/sample.png" alt=""></span>
        <p>
          支援額
        </p>
        <p>
          10,000円
        </p>
      </div>
      <div class="times">
        <span><img src="/assets/images/sample.png" alt=""></span>
        <p>
          不幸回数
        </p>
        <p>
          100回
        </p>
      </div>
    </div>

    <div class="tabs">
      <input id="all" type="radio" name="tab_item" checked>
      <label class="tab_item" for="all">総合</label>
      <input id="programming" type="radio" name="tab_item">
      <label class="tab_item" for="programming">プログラミング</label>
      <div class="tab_content" id="all_content">
          総合の内容がここに入ります
      </div>
      <div class="tab_content" id="programming_content">
        プログラミングの内容がここに入ります
      </div>
    </div>


{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
