{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}マイページ{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
<link rel="stylesheet" href="/assets/css/mypage.css">
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>マイページ</h1>
    </div>

    <div class="profile">
      <div class="myname">
        <span><img src="/assets/images/sample.png" alt=""></span>
        <p>
          タカ
        </p>
      </div>
      <div class="supported">
        <span><img src="/assets/images/sample.png" alt=""></span>
        <p>
          支援額
        </p>
        <p>
          10,000円
        </p>
      </div>
      <div class="times">
        <span><img src="/assets/images/sample.png" alt=""></span>
        <p>
          不幸回数
        </p>
        <p>
          100回
        </p>
      </div>
    </div>

    <div class="tabs">
      <input id="all" type="radio" name="tab_item" checked>
      <label class="tab_item" for="all">有名人とのやりとり</label>
      <input id="programming" type="radio" name="tab_item">
      <label class="tab_item" for="programming">支援履歴</label>
      <div class="tab_content" id="all_content">

        <!-- タブ１ -->
        <div class="flex-container" id="container">

            <div class="box">
              <img src="/assets/images/sample.png" alt="">
              <div class="status">
                <div class="status_category">
                  <p>
                    <span><img src="/assets/images/sample.png" alt=""></span>
                    アイドル
                  </p>
                </div>
              </div>
              <h4>広瀬すず</h4>
              <p>
                届いたメッセージ
              </p>
              <video src=""></video>
            </div>

            <div class="box">
              <img src="/assets/images/sample.png" alt="">
              <div class="status">
                <div class="status_category">
                  <p>
                    <span><img src="/assets/images/sample.png" alt=""></span>
                    アイドル
                  </p>
                </div>
              </div>
              <h4>広瀬すず</h4>
              <p>
                届いたメッセージ
              </p>
              <video src=""></video>
            </div>

            <div class="box">
            <img src="/assets/images/sample.png" alt="">
            <div class="status">
              <div class="status_category">
                <p>
                  <span><img src="/assets/images/sample.png" alt=""></span>
                  アイドル
                </p>
              </div>
            </div>
            <h4>広瀬すず</h4>
            <p>
              届いたメッセージ
            </p>
            <video src=""></video>
          </div>

          <div class="box">
            <img src="/assets/images/sample.png" alt="">
            <div class="status">
              <div class="status_category">
                <p>
                  <span><img src="/assets/images/sample.png" alt=""></span>
                  アイドル
                </p>
              </div>
            </div>
            <h4>広瀬すず</h4>
            <p>
              届いたメッセージ
            </p>
            <video src=""></video>
          </div>
        </div>

        <!-- ページャー1 -->
        <ul class="pageNav01">
          <li><a href="#container">&laquo; 前</a></li>
          <li><a href="#container">1</a></li>
          <li><span>2</span></li>
          <li><a href="#container">3</a></li>
          <li><a href="#container">4</a></li>
          <li><a href="#container">5</a></li>
          <li><a href="#container">6</a></li>
          <li><a href="#container">次 &raquo;</a></li>
        </ul>

      </div>


      <!-- タブ２ -->
      <div class="tab_content" id="programming_content">

        <div class="flex-container2" id="container2">
            <div class="comment-area">
              支援してくれた人のコメントとか
            </div>
            <div class="comment-area">
              支援してくれた人のコメントとか
            </div>
            <div class="comment-area">
              支援してくれた人のコメントとか
            </div>
            <div class="comment-area">
              支援してくれた人のコメントとか
            </div>
        </div>

        <!-- ページャー2 -->
        <ul class="pageNav02">
          <li><a href="#container2">&laquo; 前</a></li>
          <li><a href="#container2">1</a></li>
          <li><span>2</span></li>
          <li><a href="#container2">3</a></li>
          <li><a href="#container2">4</a></li>
          <li><a href="#container2">5</a></li>
          <li><a href="#container2">6</a></li>
          <li><a href="#container2">次 &raquo;</a></li>
        </ul>

      </div>



    </div>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
