.RecruitList {
  margin: 0 auto;
  max-width: 1132px;
  padding: 60px 16px;
  width: 100%;
}

.Tab {
  border: 1px solid #e8e7e9;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.2);
  display: none;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

.Tab__Item {
  color: #d4d4d4;
  cursor: pointer;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  width: 50%;
}

.Tab__Item:first-child {
  border-right: 1px solid #e8e7e9;
}

.Tab__Item--active--blue {
  color: #265eb8;
  cursor: default;
  pointer-events: none;
}

.RecruitList .Tab {
  margin-bottom: 32px;
}

.RecruitList .Select {
  margin-bottom: 32px;
  max-width: 350px;
  width: 100%;
}

.RecruitList__Title {
  color: #265eb8;
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 24px;
}

.RecruitListCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -24px;
}

.RecruitListCards:after {
  content: "";
  display: block;
  width: 350px;
}

.RecruitListCard {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(51, 51, 51, 0.2);
  transition: box-shadow 0.3s;
  border-radius: 4px;
  margin-bottom: 24px;
  max-width: 350px;
  width: 100%;
}

.RecruitListCard:hover {
  box-shadow: none;
}

.RecruitListCard__Link {
  display: block;
  padding: 20px;
}

.RecruitListCard__Content {
  font-size: 1.2rem;
  height: 150px;
  line-height: 20px;
  margin-bottom: 12px;
  overflow-y: hidden;
}

.RecruitListCardStatus {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -8px;
}

.RecruitListCardStatus__Item {
  align-items: center;
  color: #265eb8;
  display: flex;
  font-size: 1.2rem;
  margin: 0 8px 12px 0;
}

.RecruitListCardStatus__Item:before {
  background-size: 20px;
  content: "";
  display: block;
  height: 20px;
  margin-right: 8px;
  width: 20px;
}

.RecruitListCardStatus__Item--money:before {
  background-image: url(/assets/images/money_blue.svg);
}

.RecruitListCardStatus__Item--clock:before {
  background-image: url(/assets/images/clock_blue.svg);
}

.RecruitListCardStatus__Item--flag:before {
  background-image: url(/assets/images/flag_blue.svg);
}

.RecruitListCardUser {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  padding: 0 12px;
}

.RecruitListCardUser__Name {
  font-size: 1.8rem;
}

.RecruitListCardUser__Arrow {
  height: 30px;
  width: 30px;
}

.RecruitListCardUser__Block {
  align-items: center;
  display: flex;
}

.RecruitListCardUser__Icon {
  height: 30px;
  margin-right: 8px;
  width: 30px;
}

.RecruitList__Pagination {
  justify-content: center;
  margin-top: 40px;
}

@media screen and (max-width: 1132px) {
  .RecruitList {
    max-width: 762px;
  }
}

@media screen and (max-width: 762px) {
  .RecruitList {
    max-width: 382px;
    padding-top: 36px;
  }

  .Tab {
    display: flex;
    left: 50%;
    width: 100vw;
    margin-left: -50vw;
    position: relative;
  }

  .RecruitList .Tab {
    margin-bottom: 32px;
  }

  .RecruitList .Select {
    margin-bottom: 24px;
  }

  .RecruitList__Title {
    font-size: 2.4rem;
    margin-bottom: 24px;
  }

  .RecruitListCard {
    margin-bottom: 16px;
  }

  .RecruitList__Pagination {
    margin-top: 28px;
  }
}
