{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}有名人一覧{% endblock %}

{# 適用させたいスタイルシートのパスを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="page-header text-center">
        <h1>有名人一覧</h1>
    </div>
    <div class="container">
        <div>
          <p>
            カテゴリー選択
          </p>
        </div>
    </div>
    <h2>アイドル一覧</h2>
    <div class="box">
      <img src="" alt="">
      <div class="status">
        <div class="status_category">
          <p>
            アイドル
          </p>
        </div>
        <div class="status_Speed">
          <p>
            １日以内
          </p>
        </div>
        <div class="status_rate">
          <p>
            ６０％の返信
          </p>
        </div>
      </div>
      <h4>広瀬すず</h4>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
